export(autoLoad)
export(clean)
export(comp)
export(fetch)
export(fetchAll)
export(first)
export(gitBranch)
export(keep)
export(killCache)
export(look)
export(newProject)
export(omni)
export(opts_proh)
export(send)
importFrom(knitr,knit2pdf)
